h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body {
  margin: 0;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.cover-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 150%;
  background: #f2f9ff;
  color: #6c788b; }

.btn {
  display: block;
  width: 226px;
  height: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 55px;
  color: #fff;
  background-color: #ff9c8e;
  border-radius: 64px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s; }
  .btn:hover {
    background-color: #ff7e6c; }
  .btn:hover {
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3); }
  .btn:focus {
    background-color: #ff7e6c;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3); }

.title-2 {
  font-size: 52px;
  color: #253757; }
  @media screen and (max-width: 768px) {
    .title-2 {
      font-size: 40px;
      line-height: 40px; } }

.title-3 {
  font-size: 32px;
  color: #253757;
  line-height: 36px; }

.title-4 {
  font-size: 20px;
  color: #253757;
  line-height: 140%; }

.sign-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.wrapper {
  background-color: #fff; }

.container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1145px; } }

/*** Slider ***/
.slider {
  position: absolute;
  right: 0;
  bottom: 0; }
  @media (max-width: 992px) {
    .slider {
      display: none; } }
  .slider__slides {
    position: relative;
    width: 687px;
    height: 75vh;
    border-radius: 200px 0 0;
    overflow: hidden; }
    @media (min-width: 992px) and (max-width: 1470px) {
      .slider__slides {
        width: 500px;
        height: 495px; } }
    .slider__slides .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: opacity 1s;
      transition: opacity 1s; }
      .slider__slides .slide.showed {
        opacity: 1; }
      .slider__slides .slide--img {
        position: relative; }
      .slider__slides .slide--desc {
        position: absolute;
        left: 145px;
        bottom: 40px;
        font-size: 14px; }
        .slider__slides .slide--desc .sign-title {
          margin: 0;
          color: #fff; }
  .slider__arrows {
    position: absolute;
    bottom: 65px;
    left: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .slider__arrows--btn {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 0 5px;
      border: none;
      cursor: pointer;
      outline: none;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .slider__arrows--btn:hover, .slider__arrows--btn:focus {
        background-color: #fff; }
    .slider__arrows .prev {
      background-image: url("../images/slider/arrow-left.svg");
      background-repeat: no-repeat;
      background-position: center; }
    .slider__arrows .next {
      background-image: url("../images/slider/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center; }

/*** Header ***/
.header {
  position: relative;
  height: 100vh;
  background-color: #008aff;
  border-radius: 0 0 0 200px;
  color: #fff; }
  .header__top {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 2; }
    .header__top__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (max-width: 768px) {
        .header__top__content {
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
    .header__top.sticky {
      padding: 15px 0;
      background: #006ecc; }
    .header__top--link {
      margin-top: 1px;
      margin-left: auto;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 13px;
      color: #fff;
      letter-spacing: 3px;
      text-transform: uppercase;
      -webkit-transition: color 0.5s;
      transition: color 0.5s; }
      .header__top--link:hover {
        color: #ff9c8e; }
      @media screen and (max-width: 768px) {
        .header__top--link {
          display: none; } }
      .header__top--link:focus {
        color: #ff9c8e; }
  .header__logo--img {
    height: 26px; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100%; }
  .header__title {
    margin: 0;
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -2px; }
    @media screen and (max-width: 576px) {
      .header__title {
        margin-top: 40%;
        font-size: 50px;
        line-height: 55px;
        text-align: center; } }
  .header__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 18px; }
    @media screen and (max-width: 576px) {
      .header__subtitle {
        text-align: center; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .header__subtitle {
        max-width: 50%; } }
  .header__btn {
    margin-top: 80px; }
    @media screen and (max-width: 576px) {
      .header__btn {
        text-align: center;
        margin: 55px auto; } }

.nav {
  margin-left: 50px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media screen and (min-width: 768px) {
    .nav__item {
      margin-right: 30px; } }
  @media screen and (min-width: 992px) {
    .nav__item {
      letter-spacing: 3px;
      margin-right: 64px; } }
  .nav__link {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase; }
    .nav__link::after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 0%;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #ff9c8e;
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .nav__link:hover::after, .nav__link:focus::after {
      opacity: 1; }

.hamburger {
  position: absolute;
  display: none;
  cursor: pointer;
  right: 15px;
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  z-index: 2; }
  .hamburger__line {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px; }

@media screen and (max-width: 768px) {
  .header .nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0;
    -webkit-clip-path: circle(0 at 100% 0);
            clip-path: circle(0 at 100% 0);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .header .nav .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      .header .nav .nav__list .nav__item {
        margin: 30px 0;
        opacity: 0; }
        .header .nav .nav__list .nav__item:nth-child(1) {
          -webkit-transition: all 0.5s ease 0.2s;
          transition: all 0.5s ease 0.2s; }
        .header .nav .nav__list .nav__item:nth-child(2) {
          -webkit-transition: all 0.5s ease 0.4s;
          transition: all 0.5s ease 0.4s; }
        .header .nav .nav__list .nav__item:nth-child(3) {
          -webkit-transition: all 0.5s ease 0.6s;
          transition: all 0.5s ease 0.6s; }
        .header .nav .nav__list .nav__item:nth-child(4) {
          -webkit-transition: all 0.5s ease 0.8s;
          transition: all 0.5s ease 0.8s; }
        .header .nav .nav__list .nav__item:nth-child(5) {
          -webkit-transition: all 0.5s ease 0.9s;
          transition: all 0.5s ease 0.9s; }
        .header .nav .nav__list .nav__item .nav__link {
          font-size: 22px; }
        .header .nav .nav__list .nav__item.fade {
          opacity: 1; }
    .header .nav.open {
      -webkit-clip-path: circle(1000px at 50% 0%);
              clip-path: circle(1000px at 50% 0%); }
  .hamburger {
    display: block; } }

/*** About ***/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 15px; }
  @media screen and (max-width: 768px) {
    .about {
      padding: 75px 15px; } }
  .about__content {
    max-width: 750px; }
    .about__content--text {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px; }
      @media screen and (max-width: 768px) {
        .about__content--text {
          font-size: 20px; } }

/*** Expertise ***/
.expertise {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #fff;
  text-align: center; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 65px; }
  .services .service {
    max-width: 265px;
    margin: 0 auto 35px; }
    .services .service__img {
      border-radius: 24px; }

/**** Work ***/
.work {
  padding-top: 150px;
  padding-bottom: 45px; }
  @media screen and (max-width: 992px) {
    .work {
      padding-top: 100px; } }
  @media screen and (max-width: 576px) {
    .work {
      padding-top: 70px; } }
  .work__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .work__content .title-3 {
      margin-top: 0; }
    .work__content--text {
      max-width: 360px; }
    @media screen and (max-width: 992px) {
      .work__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .work__content--text {
          max-width: 100%; } }
  .work__items {
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 264px);
    margin-bottom: -92px;
    grid-gap: 30px;
    z-index: 1; }
    @media screen and (max-width: 992px) {
      .work__items {
        margin-top: 25px;
        -ms-flex-item-align: center;
            align-self: center; } }
    @media screen and (max-width: 768px) {
      .work__items {
        align-self: center;
        grid-template-columns: repeat(2, 264px); } }
    @media screen and (max-width: 576px) {
      .work__items {
        grid-template-columns: repeat(1, 264px); } }
  .work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 264px;
    height: 264px;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .work__item__more {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: "Poppins", sans-serif;
      color: #253757;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px; }
      .work__item__more--icon {
        margin-right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 54px; }
      .work__item__more:hover, .work__item__more:focus {
        text-decoration: underline; }
    .work__item:hover {
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3); }
    .work__item__text {
      font-size: 13px;
      font-weight: 600; }
    .work__item .number {
      display: block;
      width: 46px;
      height: 24px;
      border-radius: 23px;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      line-height: 24px;
      font-weight: 600;
      text-align: center; }
    .work__item:first-child {
      margin-top: 120px; }
    .work__item:last-child {
      margin-top: -120px; }
    @media screen and (max-width: 768px) {
      .work__item:first-child {
        margin-top: 0; }
      .work__item:last-child {
        margin-top: 0; } }
  .work__item--first .number {
    background-color: rgba(86, 204, 242, 0.1);
    color: #56ccf2; }
  .work__item--first .work__item__more--icon {
    background-color: #56ccf2; }
  .work__item--second .number {
    background-color: rgba(252, 201, 29, 0.1);
    color: #fcc91d; }
  .work__item--second .work__item__more--icon {
    background-color: #fcc91d; }
  .work__item--third .number {
    background-color: rgba(21, 216, 80, 0.1);
    color: #15d850; }
  .work__item--third .work__item__more--icon {
    background-color: #15d850; }
  .work__item--fourth .number {
    background-color: rgba(243, 99, 99, 0.1);
    color: #f36363; }
  .work__item--fourth .work__item__more--icon {
    background-color: #f36363; }

/*** Approach ***/
.approach {
  position: relative;
  margin-left: auto;
  width: 90%;
  height: 100vh;
  background-color: #ff9c8e;
  border-radius: 200px 0 0 200px;
  color: #fff;
  margin-bottom: 10%; }
  @media (max-width: 992px) {
    .approach {
      height: 100%; } }
  @media (max-width: 576px) {
    .approach {
      width: 100%;
      border-radius: 0 0 0 200px; } }
  .approach__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    max-width: 360px;
    margin-left: 5%; }
    @media (max-width: 992px) {
      .approach__content {
        max-width: 70%;
        margin: 0 auto; } }
    @media (max-width: 576px) {
      .approach__content {
        max-width: 100%;
        margin: 0 auto; } }
    .approach__content .title-3 {
      margin-top: 0;
      color: #fff;
      line-height: 38px; }
  .approach__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px; }
    @media (max-width: 576px) {
      .approach__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .approach__icon {
    height: 64px;
    width: 64px;
    background-color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 50%; }
  .approach__text {
    width: 75%; }
    @media (max-width: 576px) {
      .approach__text {
        width: 100%; } }
  .approach__image {
    position: absolute;
    width: 687px;
    height: 75vh;
    right: 0;
    bottom: 0;
    border-radius: 200px 0 0;
    overflow: hidden; }
    @media (min-width: 992px) and (max-width: 1470px) {
      .approach__image {
        width: 500px;
        height: 495px;
        bottom: 0; } }
    @media (max-width: 992px) {
      .approach__image {
        display: none; } }

/*** Testimonials ***/
.testimonials {
  padding-bottom: 120px; }
  @media (max-width: 576px) {
    .testimonials {
      padding-bottom: 70px; } }

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px; }
  @media (max-width: 992px) {
    .people {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .people__item {
    width: 314px;
    padding: 70px 30px 30px;
    height: 495px;
    margin-bottom: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .people__item__photo {
      position: relative;
      width: 140px;
      height: 140px;
      margin: auto;
      z-index: 1; }
      .people__item__photo img {
        border-radius: 50%;
        z-index: 1; }
      .people__item__photo::before {
        position: absolute;
        content: "";
        width: 140px;
        height: 55px;
        left: -50%;
        top: 0;
        display: block;
        border-radius: 30px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
        z-index: -1; }
      .people__item__photo::after {
        position: absolute;
        content: "";
        width: 140px;
        height: 55px;
        right: -50%;
        bottom: 0;
        display: block;
        border-radius: 30px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
        z-index: -1; }
      .people__item__photo--first::before, .people__item__photo--first::after {
        background-color: #56ccf2; }
      .people__item__photo--second::before, .people__item__photo--second::after {
        background-color: #fcc304; }
      .people__item__photo--third::before, .people__item__photo--third::after {
        background-color: #f25656; }
    .people__item__desc {
      margin-top: 100px;
      position: relative;
      font-size: 13px;
      font-weight: 600; }
      .people__item__desc::before {
        position: absolute;
        content: "";
        top: -25px;
        left: 45%;
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat; }
      .people__item__desc--first::before {
        background-image: url("../images/testimonials/quotes1.svg"); }
      .people__item__desc--second::before {
        background-image: url("../images/testimonials/quotes2.svg"); }
      .people__item__desc--third::before {
        background-image: url("../images/testimonials/quotes3.svg"); }
    .people__item__name {
      margin: 0 0 -15px;
      font-size: 13px;
      font-weight: 600;
      color: #253757; }
    .people__item:hover {
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3); }

/*** Apply ***/
.apply {
  padding: 170px 0 200px;
  background-image: url("../images/Shapes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff; }
  @media (max-width: 768px) {
    .apply {
      padding: 120px 0 150px; } }
  @media (max-width: 576px) {
    .apply {
      padding: 70px 0 90px; }
      .apply .title-2 {
        font-size: 35px; } }
  .apply__content {
    padding: 0 15px;
    text-align: center; }
  .apply__btn {
    margin: auto;
    margin-top: 70px; }

/*** Contacts ***/
.contacts {
  background-color: #008aff;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 70px;
  border-radius: 0 200px 0 0;
  color: #fff; }
  @media (max-width: 576px) {
    .contacts {
      padding-top: 70px; } }
  .contacts .title-3 {
    color: #fff; }
  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .contacts__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contacts__form--wrap {
      width: 50%;
      margin-right: 90px; }
      @media (max-width: 768px) {
        .contacts__form--wrap {
          width: 80%;
          margin: auto; } }
    .contacts__form__field {
      height: 48px;
      margin-bottom: 48px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px 5px;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      line-height: 22px;
      border: none;
      border-bottom: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      outline: none; }
      .contacts__form__field::-webkit-input-placeholder {
        color: #fff;
        opacity: 0.7; }
      .contacts__form__field::-moz-placeholder {
        color: #fff;
        opacity: 0.7; }
      .contacts__form__field:-ms-input-placeholder {
        color: #fff;
        opacity: 0.7; }
      .contacts__form__field::-ms-input-placeholder {
        color: #fff;
        opacity: 0.7; }
      .contacts__form__field::placeholder {
        color: #fff;
        opacity: 0.7; }
      .contacts__form__field:focus {
        border-bottom: 2px solid #fff; }
        .contacts__form__field:focus::-webkit-input-placeholder {
          opacity: 1; }
        .contacts__form__field:focus::-moz-placeholder {
          opacity: 1; }
        .contacts__form__field:focus:-ms-input-placeholder {
          opacity: 1; }
        .contacts__form__field:focus::-ms-input-placeholder {
          opacity: 1; }
        .contacts__form__field:focus::placeholder {
          opacity: 1; }
  .contacts__info {
    width: 50%;
    margin-left: 90px; }
    @media (max-width: 768px) {
      .contacts__info {
        width: 80%;
        margin: 30px auto 0; } }
    .contacts__info__block {
      margin-top: 50px; }
      .contacts__info__block span {
        display: block;
        font-size: 32px;
        margin-top: 10px;
        line-height: 32px; }
        @media (max-width: 992px) {
          .contacts__info__block span {
            font-size: 20px; } }
      .contacts__info__block--address {
        font-style: normal; }
      .contacts__info__block--socials .socials-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 15px; }
        .contacts__info__block--socials .socials-icons--link {
          margin-right: 30px;
          opacity: 1;
          -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s; }
          .contacts__info__block--socials .socials-icons--link:hover {
            opacity: 0.5; }
          .contacts__info__block--socials .socials-icons--link:focus {
            opacity: 0.5; }
          .contacts__info__block--socials .socials-icons--link:last-child {
            margin-right: 0; }

/*** Footer ***/
.footer {
  padding: 50px 0;
  background-color: #008aff; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__content .nav {
      margin-left: auto; }
      @media (max-width: 768px) {
        .footer__content .nav {
          display: none; } }

/*# sourceMappingURL=main.css.map */
